body {
  font-family: Open Sans, sans-serif;
  background-color: #142F43; /* Navy Blue */
  color: #D3D3D3; /* Silver */
}

h1, h2 {
  font-family: Bebas Neue, sans-serif;
  color: #3484BC; /* Teal */
  text-transform: uppercase;
}

.hero {
  background-image: url(mariners-field.jpg);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta {
  background-color: #3484BC;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.games {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-card {
  background-color: #D3D3D3;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.game-card h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.about {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  background-color: #D3D3D3;
  margin: 10px;
  padding: 20px;

