body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header p {
    font-size: 1.2em;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

section.featured-games {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.game-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-card img {
    width: 100%;
    border-radius: 4px;
}

.game-card h3 {
    margin-top: 10px;
}

.game-card p {
    font-size: 0.9em;
    color: #555;
}

.game-card a {
    display: block;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.game-card a:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.team-member {
  background-color: #D3D3D3;
  margin: 10px;
  padding: 20px;

